<?xml version="1.0" encoding="UTF-8"?>
<Simulation xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.dyn4j.org/Sandbox/sandbox.xsd" version="1.0.1">
    <Name>Spring-Damper</Name>
    <Camera>
		<Scale>64</Scale>
		<Translation x="0.0" y="0.0" />
	</Camera>
    <System>
        <JavaVersion>1.6.0_26</JavaVersion>
        <JavaVendor>Sun Microsystems Inc.</JavaVendor>
        <OperatingSystem>Windows 7</OperatingSystem>
        <Architecture>x86</Architecture>
        <NumberOfCpus>2</NumberOfCpus>
        <Locale>en_US</Locale>
    </System>
    <Settings>
        <StepFrequency>60.0</StepFrequency>
        <MaximumTranslation>2.0</MaximumTranslation>
        <MaximumRotation>90</MaximumRotation>
        <ContinuousCollisionDetectionMode>ALL</ContinuousCollisionDetectionMode>
        <AutoSleep>true</AutoSleep>
        <SleepTime>0.5</SleepTime>
        <SleepLinearVelocity>0.01</SleepLinearVelocity>
        <SleepAngularVelocity>2.0</SleepAngularVelocity>
        <VelocitySolverIterations>10</VelocitySolverIterations>
        <PositionSolverIterations>10</PositionSolverIterations>
        <WarmStartDistance>0.01</WarmStartDistance>
        <RestitutionVelocity>1.0</RestitutionVelocity>
        <LinearTolerance>0.0050</LinearTolerance>
        <AngularTolerance>2.0</AngularTolerance>
        <MaximumLinearCorrection>0.2</MaximumLinearCorrection>
        <MaximumAngularCorrection>8.0</MaximumAngularCorrection>
        <Baumgarte>0.2</Baumgarte>
    </Settings>
    <Rays>
    </Rays>
    <World>
        <BroadphaseDetector>DynamicAABBTree</BroadphaseDetector>
        <NarrowphaseDetector>Gjk</NarrowphaseDetector>
        <ManifoldSolver>ClippingManifoldSolver</ManifoldSolver>
        <TimeOfImpactDetector>ConservativeAdvancement</TimeOfImpactDetector>
        <Gravity x="0.0" y="-9.8" />
        <Bounds>
            <Rectangle Id="61162519-f4f5-4ddf-936f-3448b7eec045">
                <LocalCenter x="0.0" y="0.0" />
                <Width>16.0</Width>
                <Height>15.0</Height>
                <LocalRotation>0.0</LocalRotation>
            </Rectangle>
            <Transform>
                <Translation x="0.0" y="0.0" />
                <Rotation>0.0</Rotation>
            </Transform>
        </Bounds>
        <Bodies>
            <Body Id="c69acfe1-5f40-4f1f-8bdb-50000fee9605" Name="Ground">
                <OutlineColor r="0.44313726" g="0.58431375" b="0.27450982" />
                <FillColor r="0.76862746" g="0.8352941" b="0.5882353" />
                <Fixtures>
                    <Fixture Id="1d69b53e-223c-4bf4-9a4d-ae3a759494ea" Name="Fixture1">
                        <Shape Id="647d6e1a-85fe-4542-a5e4-d11df533697c" xsi:type="Rectangle">
                            <LocalCenter x="0.0" y="0.0" />
                            <Width>15.0</Width>
                            <Height>1.0</Height>
                            <LocalRotation>0.0</LocalRotation>
                        </Shape>
                        <Filter xsi:type="DefaultFilter" />
                        <Sensor>false</Sensor>
                        <Density>1.0</Density>
                        <Friction>0.2</Friction>
                        <Restitution>0.0</Restitution>
                    </Fixture>
                </Fixtures>
                <Transform>
                    <Translation x="0.0" y="-4.0" />
                    <Rotation>0.0</Rotation>
                </Transform>
                <Mass>
                    <LocalCenter x="0.0" y="0.0" />
                    <Type>INFINITE</Type>
                    <Mass>15.0</Mass>
                    <Inertia>282.5</Inertia>
                    <Explicit>false</Explicit>
                </Mass>
                <Velocity x="0.0" y="0.0" />
                <AngularVelocity>0.0</AngularVelocity>
                <AccumulatedForce x="0.0" y="0.0" />
                <AccumulatedTorque>0.0</AccumulatedTorque>
                <AutoSleep>true</AutoSleep>
                <Asleep>false</Asleep>
                <Active>true</Active>
                <Bullet>false</Bullet>
                <LinearDamping>0.0</LinearDamping>
                <AngularDamping>0.01</AngularDamping>
                <GravityScale>1.0</GravityScale>
            </Body>
            <Body Id="f97112de-9e45-4399-bcaa-5593e20c0425" Name="Frame">
                <OutlineColor r="0.44313726" g="0.58431375" b="0.27450982" />
                <FillColor r="0.76862746" g="0.8352941" b="0.5882353" />
                <Fixtures>
                    <Fixture Id="454946ae-5ae1-46c2-9b32-16ffd5c0f31b" Name="Fixture1">
                        <Shape Id="cfafae59-59c4-4681-ade1-fc13e073d204" xsi:type="Rectangle">
                            <LocalCenter x="0.0" y="0.0" />
                            <Width>3.0</Width>
                            <Height>0.5</Height>
                            <LocalRotation>0.0</LocalRotation>
                        </Shape>
                        <Filter xsi:type="DefaultFilter" />
                        <Sensor>false</Sensor>
                        <Density>0.2</Density>
                        <Friction>0.2</Friction>
                        <Restitution>0.0</Restitution>
                    </Fixture>
                </Fixtures>
                <Transform>
                    <Translation x="0.0" y="4.25" />
                    <Rotation>0.0</Rotation>
                </Transform>
                <Mass>
                    <LocalCenter x="0.0" y="0.0" />
                    <Type>NORMAL</Type>
                    <Mass>0.30000000000000004</Mass>
                    <Inertia>0.23125000000000004</Inertia>
                    <Explicit>false</Explicit>
                </Mass>
                <Velocity x="0.0" y="0.0" />
                <AngularVelocity>0.0</AngularVelocity>
                <AccumulatedForce x="0.0" y="0.0" />
                <AccumulatedTorque>0.0</AccumulatedTorque>
                <AutoSleep>true</AutoSleep>
                <Asleep>false</Asleep>
                <Active>true</Active>
                <Bullet>false</Bullet>
                <LinearDamping>0.0</LinearDamping>
                <AngularDamping>0.01</AngularDamping>
                <GravityScale>1.0</GravityScale>
            </Body>
            <Body Id="09672135-9b55-433d-bd46-524254b25582" Name="Wheel1">
                <OutlineColor r="0.44313726" g="0.58431375" b="0.27450982" />
                <FillColor r="0.76862746" g="0.8352941" b="0.5882353" />
                <Fixtures>
                    <Fixture Id="594aa3d4-a8ff-46ae-b069-bfa66f5ec067" Name="Fixture1">
                        <Shape Id="1d1fa395-93b7-44a0-b584-156dca8c1101" xsi:type="Circle">
                            <LocalCenter x="0.0" y="0.0" />
                            <Radius>0.25</Radius>
                        </Shape>
                        <Filter xsi:type="DefaultFilter" />
                        <Sensor>false</Sensor>
                        <Density>0.5</Density>
                        <Friction>0.5</Friction>
                        <Restitution>0.0</Restitution>
                    </Fixture>
                </Fixtures>
                <Transform>
                    <Translation x="-1.0" y="3.6" />
                    <Rotation>0.0</Rotation>
                </Transform>
                <Mass>
                    <LocalCenter x="0.0" y="0.0" />
                    <Type>NORMAL</Type>
                    <Mass>0.09817477042468103</Mass>
                    <Inertia>0.0030679615757712823</Inertia>
                    <Explicit>false</Explicit>
                </Mass>
                <Velocity x="0.0" y="0.0" />
                <AngularVelocity>0.0</AngularVelocity>
                <AccumulatedForce x="0.0" y="0.0" />
                <AccumulatedTorque>0.0</AccumulatedTorque>
                <AutoSleep>true</AutoSleep>
                <Asleep>false</Asleep>
                <Active>true</Active>
                <Bullet>false</Bullet>
                <LinearDamping>0.0</LinearDamping>
                <AngularDamping>0.01</AngularDamping>
                <GravityScale>1.0</GravityScale>
            </Body>
            <Body Id="f443f4aa-b785-47a5-b817-65a528bc48dd" Name="Wheel2">
                <OutlineColor r="0.44313726" g="0.58431375" b="0.27450982" />
                <FillColor r="0.76862746" g="0.8352941" b="0.5882353" />
                <Fixtures>
                    <Fixture Id="594aa3d4-a8ff-46ae-b069-bfa66f5ec067" Name="Fixture1">
                        <Shape Id="1d1fa395-93b7-44a0-b584-156dca8c1101" xsi:type="Circle">
                            <LocalCenter x="0.0" y="0.0" />
                            <Radius>0.25</Radius>
                        </Shape>
                        <Filter xsi:type="DefaultFilter" />
                        <Sensor>false</Sensor>
                        <Density>0.5</Density>
                        <Friction>0.5</Friction>
                        <Restitution>0.0</Restitution>
                    </Fixture>
                </Fixtures>
                <Transform>
                    <Translation x="1.0" y="3.6" />
                    <Rotation>0.0</Rotation>
                </Transform>
                <Mass>
                    <LocalCenter x="0.0" y="0.0" />
                    <Type>NORMAL</Type>
                    <Mass>0.09817477042468103</Mass>
                    <Inertia>0.0030679615757712823</Inertia>
                    <Explicit>false</Explicit>
                </Mass>
                <Velocity x="0.0" y="0.0" />
                <AngularVelocity>0.0</AngularVelocity>
                <AccumulatedForce x="0.0" y="0.0" />
                <AccumulatedTorque>0.0</AccumulatedTorque>
                <AutoSleep>true</AutoSleep>
                <Asleep>false</Asleep>
                <Active>true</Active>
                <Bullet>false</Bullet>
                <LinearDamping>0.0</LinearDamping>
                <AngularDamping>0.01</AngularDamping>
                <GravityScale>1.0</GravityScale>
            </Body>
        </Bodies>
        <Joints>
            <Joint Id="3524a6cf-167b-45aa-98e7-d45c6e4d207b" Name="DistanceJoint1" xsi:type="DistanceJoint">
                <BodyId1>f97112de-9e45-4399-bcaa-5593e20c0425</BodyId1>
                <BodyId2>09672135-9b55-433d-bd46-524254b25582</BodyId2>
                <CollisionAllowed>true</CollisionAllowed>
                <Anchor1 x="0.0" y="4.25" />
                <Anchor2 x="-1.0" y="3.6" />
                <Frequency>0.0</Frequency>
                <DampingRatio>0.0</DampingRatio>
                <Distance>1.1926860441876563</Distance>
            </Joint>
            <Joint Id="3b6eb4ed-e7ac-4d06-b2cb-b6c4a256fe6a" Name="DistanceJoint2" xsi:type="DistanceJoint">
                <BodyId1>f97112de-9e45-4399-bcaa-5593e20c0425</BodyId1>
                <BodyId2>f443f4aa-b785-47a5-b817-65a528bc48dd</BodyId2>
                <CollisionAllowed>true</CollisionAllowed>
                <Anchor1 x="0.0" y="4.25" />
                <Anchor2 x="1.0" y="3.6" />
                <Frequency>0.0</Frequency>
                <DampingRatio>0.0</DampingRatio>
                <Distance>1.1926860441876563</Distance>
            </Joint>
            <Joint Id="d77a4acf-0606-4e5c-8eaf-e1d3aa6abd1c" Name="Shock1" xsi:type="DistanceJoint">
                <BodyId1>f97112de-9e45-4399-bcaa-5593e20c0425</BodyId1>
                <BodyId2>09672135-9b55-433d-bd46-524254b25582</BodyId2>
                <CollisionAllowed>true</CollisionAllowed>
                <Anchor1 x="-1.0" y="4.0" />
                <Anchor2 x="-1.0" y="3.6" />
                <Frequency>8.0</Frequency>
                <DampingRatio>0.4</DampingRatio>
                <Distance>0.3999999999999999</Distance>
            </Joint>
            <Joint Id="105da2ec-a435-4232-95a8-a31dec2e004b" Name="Shock2" xsi:type="DistanceJoint">
                <BodyId1>f97112de-9e45-4399-bcaa-5593e20c0425</BodyId1>
                <BodyId2>f443f4aa-b785-47a5-b817-65a528bc48dd</BodyId2>
                <CollisionAllowed>true</CollisionAllowed>
                <Anchor1 x="1.0" y="4.0" />
                <Anchor2 x="1.0" y="3.6" />
                <Frequency>8.0</Frequency>
                <DampingRatio>0.4</DampingRatio>
                <Distance>0.3999999999999999</Distance>
            </Joint>
        </Joints>
    </World>
</Simulation>
